DATABASE_URL=postgresql://<user>:<password>@localhost:5432/main_db
NODE_ENV=development
TEST_DATABASE_URL=postgresql://<user>:<password>@localhost:5432/test_db

CORS_ORIGIN=<ALLOWED_FRONTEND_URLS>,<ALLOWED_FRONTEND_URL_2>
PORT=4001
